
{% extends 'frontend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Contact
{% endblock %}

{% block content %}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static 'frontend/img/about.jpg' %}); height: 400px;" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
   
        <h1 class="text-white text-center" style="font-weight: 700;">CONTACT</h1>
     
  </div>
</section>
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact</span>
          <h2>Contact</h2>
          <p>contacts us via our social media handles:</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>Contact Address: 10, Akabe Kayarda Street,Agwatashi Obi, Nasarawa State Nigeria Tel: 08039340417, 08111126113, 09043383423 </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p><a href="mailto:oballahismaila90@gmail.com">oballahismaila90@gmail.com</a></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p><a href="tel:+2348039340417">08039340417</a></p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up">

          <div class="col-lg-6">
            <form action="" method="post"  class="php-email-form">
              {% if messages %}
								{% for m in messages%}
									<div class="alert {{ m.tags }}">{{ m }}</div>
								{% endfor %}
							{% endif %}
              <div class="row">
                <div class="col-md-6 form-group">
                  {{cont.first_name}}
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  {{cont.last_name}}
                </div>
              </div>
              <div class="form-group mt-3">
                {{cont.email}}
              </div>
              <div class="form-group mt-3">
                {{cont.address}}
              </div>
              <div class="form-group mt-3">
               {{cont.message}}
              </div>
              
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
          <div class="col-lg-6">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=ikeja&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net">fmovies</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">google map html generator</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
          </div>

        </div>

      </div>
  
  {% endblock %}
  
  