{% extends 'backend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
OCSC
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->

    <!-- /.container-fluid -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-4 text-gray-800">You Are Welcome Admin </h1>
        </div>
        <div class="col-lg-8 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'frontend/img/Graphic.webp' %} " class="img-fluid" alt="" width="1500px" height="20000px">
        </div>
        

    </div>

{% endblock %}