{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
OCSC
{% endblock %}

{% block content %}
	
{% load crispy_forms_tags %}
    <!-- ##### Catagory Featured Area Start ##### -->
    <div class="catagory-featured-post bg-overlay clearfix" style="background-image: url({% static 'frontend/img/bg-img/23.jpg' %})">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-lg-9">
                    <!-- Post Content -->
                    <div class="post-content">
                        <p class="tag"><span> Medical</span></p>
                        <p style="color: #ffff !important;"><a href="#" class="post-title"><span class="colored">Reset</span> Confirm</a></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Catagory Featured Area End ##### -->
		
		
		<div id="best-deal">
			<div class="container ">
				<h2 class=" font-weight-bold">Password Reset Confirm</h2>
				<hr><br>
				<p>Please enter your new password.</p>
				<form method="POST" style="padding-bottom: 25px;">
					{% csrf_token %}
					{{ form|crispy }}
					<button class="btn btn-primary" type="submit">Reset Password</button>
				</form>	
			
			</div>
		</div>


{% endblock%}