{% load static %}
<!DOCTYPE html>
<html lang="en">7
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block title %}
        About
        {% endblock %}
    </title>
  
    <section>

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      

        <meta content="" name="description">
        <meta content="" name="keywords">
      
        <!-- Favicons -->
        <link href="{% static 'frontend/img/favicon.png' %}" rel="icon">
        <link href="{% static 'frontend/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
      
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      
        <!-- Vendor CSS Files -->
        <link href="{% static 'frontend/vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'frontend/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'frontend/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'frontend/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'frontend/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'frontend/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
      
        <!-- Template Main CSS File -->
        <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
        <!-- =======================================================
        * Template Name: Day - v4.7.0
        * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
      </head>
      
      <body>
      
        <!-- ======= Top Bar ======= -->
        <section id="topbar" class="d-flex align-items-center">
          <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
              <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">info@OCSC.com</a>
              <i class="bi bi-phone-fill phone-icon"></i> 08039340417
            </div>
            <div class="social-links d-none d-md-block">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
          </div>
        </section>
      
        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center">
          <div class="container d-flex align-items-center justify-content-between">
      
            <h1 class="logo"><a href="index.html"><strong style="color: blueviolet;">OCSC</strong></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="frontend/img/logo.png" alt="" class="img-fluid"></a>-->
      
            <nav id="navbar" class="navbar">
              <!-- <a class="navbar-brand" href="#"><img src="images/apc.jpg" style="widows: 30px; height: 200px;" class="rounded-circle"></a>
              <a class="navbar-brand" href="#"><img src="fontend/img/ocscimg/ocscbaj.png" style="widows: 30px; height: 200px;" class="rounded-circle"></a> -->
              <ul>
                
                <li {% if request.path == Home %} class="active" {% endif %}><a href="{% url 'index' %}"></a>Home</a></li>
                <li {% if request.path == Register %} class="active" {% endif %}><a href="{% url 'frontend:register' %}"></a>Register</a></li>
                
                <li><a class="nav-link scrollto" href="{% url 'index' %}">Home</a></li>
                <li><a class="nav-link scrollto" href="{% url 'frontend:about' %}">About</a></li>
                <li><a class="nav-link scrollto" href="{% url 'frontend:services' %}">Services</a></li>
                <li><a class="nav-link scrollto" href="{% url 'frontend:portfolio_details' %}">Portfolio</a></li>
                <li><a class="nav-link scrollto" href="{% url 'frontend:Blog' %}">Blog</a></li>
                <li><a class="nav-link scrollto" href="{% url 'frontend:team' %}">Team</a></li>
                <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="#">Drop Down 1</a></li>
                    <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a href="#">Deep Drop Down 1</a></li>
                        <li><a href="#">Deep Drop Down 2</a></li>
                        <li><a href="#">Deep Drop Down 3</a></li>
                        <li><a href="#">Deep Drop Down 4</a></li>
                        <li><a href="#">Deep Drop Down 5</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Drop Down 2</a></li>
                    <li><a href="#">Drop Down 3</a></li>
                    <li><a href="#">Drop Down 4</a></li>
                  </ul>
                </li>
                <li><a class="nav-link scrollto" href="{% url 'frontend:contact' %}">Contact</a></li>
                <li><a class="nav-link scrollto" href="{% url 'frontend:register' %}">Register</a></li>

              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
      
          </div>
        </header><!-- End Header -->

    </section>


    {% block content %}
    {% endblock %}
    <section>

 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>OCSC</h3>
              <p>
                10, Akabe Kayarda Street <br>
                Agwatashi Obi<br><br>
                <strong>Phone:</strong> 08111126113<br>
                <strong>Email:</strong> oballahismaila90@.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'frontend/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'frontend/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'frontend/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'frontend/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'frontend/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'frontend/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'frontend/js/main.js' %}"></script>



    </section>
</head>
<body>
    
</body>
</html>