
{% extends 'frontend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
blog
{% endblock %}

{% block content %}

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'frontend:contact' %}">CONTACTT<i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">CONTACTT</h1>
          </div>
        </div>
      </div>
    </section>
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact</span>
          <h2>Contact</h2>
          <p>contacts us via our social media handles:</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>Contact Address: 10, Akabe Kayarda Street,Agwatashi Obi, Nasarawa State Nigeria Tel: 08039340417, 08111126113, 09043383423 </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p><a href="mailto:oballahismaila90@gmail.com">oballahismaila90@gmail.com</a></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p><a href="tel:+2348039340417">08039340417</a></p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up">

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    <section class="ftco-section">
      <div class="container">
        <div class="row d-flex justify-content-center">
            <!-- {% if blog %}
            {% for b in blog %} -->

          <div class="col-md-12 text-center d-flex ftco-animate">
          	<div class="blog-entry justify-content-end mb-md-5">
              
              
              <div class="text px-md-5 pt-4">
              	<div class="meta mb-3">
                      <img src="{{b.image.url}}" height="300px" alt="">
                  <div><a href="#">Oct. 29, 2019</a></div>
                  <div><a href="#">{{b.poster}}</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span>3</a></div>
                </div>
               
                <h3 class="heading mt-2"><a href="#"> <h4>{{ b.title }}</h4></a></h3>
                <p> {{b.content}}</p>
                <p><a href="blog-single.html" class="btn btn-primary">Continue <span class="icon-long-arrow-right"></span></a></p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif%}
      </div>
   
    </section>
  {% endblock %}
  
  </body>
</html>