
{% extends 'frontend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
blog
{% endblock %}

{% block content %}
<body>
    <section id="team" class="team">
        <div class="container">
  
          <div class="section-title">
            <span> Our Team</span>
            <h2>Team</h2>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
          </div>
  
          <div class="row">
            {% if team %}
            {% for o in team %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
              <div class="member">
                <img src="{{o.image.url}}" alt="">
                <h4>{{ o.name }}</h4>
                <span>{{o.position}}</span>
                <p>{{o.discription}} </p>
                <p>{{o.sex}} </p>
                <p>{{o.Age}} </p>
                <p>{{o.Address}} </p>
  
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
  
          </div>
  
        </div>
      </section>
</body>
{% endblock %}